*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	width: 8.5in;
	height: 11in;
	margin: 0;
	padding: 0;
}

.page {
	page-break-after: always;
	position: relative;
	width: 8.5in;
	height: 11in;
}

.page-content {
	position: absolute;
	width: 8.125in;
	height: 10.625in;
	left: 0.1875in;
	top: 0.1875in;
	background-color: rgba(0, 0, 0, 0);
}

.text {
	position: relative;
	left: 80px;
	top: 270px;
	width: 6.5in;
	font-size: 12pt;
	line-height: 16pt;
}

.date {
	float: right;
}

#return-address-window {
	position: absolute;
	left: .625in;
	top: .5in;
	width: 3.25in;
	height: .875in;
	background-color: rgba(255, 0, 0, 0);
}

#main-logo {
	position: absolute;
	left: 542px;
	top: 23px;
	width: 2in;
	height: .3in;
}

#return-logo {
	position: absolute;
	left: 5px;
	top: 8px;
	height: .3in;
	font-size: 14pt;
	color: #d11241;
}

#return-logo2 {
	position: inherit;
	width: 50px;
	height: 40px;
	right: -40px;
	bottom: -110px;
}

#return-logo3 {
	float: right;
	width: 60px;
	height: 60px;
	margin-right: 55px;
	margin-top: 24px;
}

.auto-image {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.return-slip {
	position: absolute;
	left: 47px;
	top: 712px;
	width: 6.8in;
	font-size: 12pt;
	line-height: 16pt;
}

.return-slip .warning {
	float: left;
	width: 85%;
	margin-left: 33px;
	font-size: 14px;
}

.inline_checkbox {
	vertical-align: middle;
	margin-top: 0;
}

.inline_p {
	margin: 10px auto;
}

.receipt_p {
	margin: 2px auto;
}

.background_p1 {
	background-color: #DFDFDF;
}

.background_p2 {
	background-color: #EEEEEE;
}

.font-en-title {
	font-family: 'Merriweather Sans', sans-serif;
}

.font-en-body {
	font-family: 'Literata', serif;
}

.font-cn-title {
	font-family: 'Noto Sans SC', sans-serif;
}

.font-cn-body {
	font-family: 'Noto Serif SC', serif;
}


.font300 {
	font-weight: 300;
}

.font400 {
	font-weight: 400;
}

.font500 {
	font-weight: 500;
}

.font600 {
	font-weight: 600;
}

.font700 {
	font-weight: 700;
}

.font-italic {
	font-style: italic;
}

.pic-caption {
	display: block;
	margin-top: 5px;
	font-size: 9.5pt;
}

.checkbox_div {
	width: 13px;
	height: 13px;
	border: 1.5px solid #5a4e51;
	float: left;
	border-radius: 2px;
	top: 3.5px;
	position: relative;
	margin-right: 6px;
}

u {
	text-decoration-skip-ink: none;
	text-underline-offset: 2px;
}