*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 8.5in;
    height: 11in;
    margin: 0;
    padding: 0;
}

.page {
    page-break-after: always;
    position: relative;
    width: 8.5in;
    height: 11in;
}

.page-content {
    position: absolute;
    width: 8.125in;
    height: 10.625in;
    left: 0.1875in;
    top: 0.1875in;
    background-color: rgba(0, 0, 0, 0);
}

#return-address-window {
    position: absolute;
    left: .625in;
    top: .5in;
    width: 3.25in;
    height: .875in;
    background-color: rgba(255, 0, 0, 0);
}

#main-logo {
    position: absolute;
    right: 46px;
    top: 0px;
}

#return-logo {
    position: absolute;
    left: 5px;
    top: 8px;
    height: .3in;
    color: #d11241;
}

#return-logo3 {
    float: left;
    height: 60px;
    margin-left: 83px;
    margin-top: 24px;
}

.auto-image {
    width: auto;
    height: auto;
    max-height: 100%;
}

.news-title {
    position: absolute;
    left: 47px;
    width: 718px;
    line-height: 30px;
}

.news-title1 {
    top: 270px;
}

.news-title2 {
    top: 0px;
}

.sub-title {
    font-size: 17px;
    color: #D10E40;
}

.news-body {
    position: absolute;
    left: 47px;
    width: 685px;
    font-size: 14px;
    line-height: 15pt;
}

.news-body1 {
    top: 350px;
}

.news-body2 {
    top: 65px;
}

.news-left {
    float: left;
    width: 49%;
}

.news-right {
    width: 49%;
    float: right;
}

.return-slip {
    position: absolute;
    left: 47px;
    top: 695px;
    width: 685px;
    font-family: 'Literata', serif;
    font-size: 12pt;
}

.inline_p {
    margin: 10px auto;
}

.checkbox_div {
    width: 13px;
    height: 13px;
    border: 1.5px solid #5a4e51;
    float: left;
    border-radius: 2px;
    top: 3.5px;
    position: relative;
    margin-right: 6px;
}

.pic-caption {
    display: block;
    margin-top: 5px;
    font-size: 9.5pt;
}

.dblock {
    display: block;
}

.font-en-title {
    font-family: 'Merriweather Sans', sans-serif;
}

.font-en-body {
    font-family: 'Literata', serif;
}

.font300 {
    font-weight: 300;
}

.font400 {
    font-weight: 400;
}

.font500 {
    font-weight: 500;
}

.font600 {
    font-weight: 600;
}

.font700 {
    font-weight: 700;
}

.font-italic {
    font-style: italic;
}

.div_border {
    border: 1px solid;
}

u {
    text-decoration-skip-ink: none;
    text-underline-offset: 2px;
}