@page {
    margin: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.page {
    page-break-after: always;
    position: relative;
    width: 795px;
    height: 1120px
        /*width:767px; height:1086px; width:795px; height:1120px*/
}

.page-content {
    position: absolute;
    width: 8.125in;
    height: 10.625in;
    left: 0.1875in;
    top: 0.1875in;
    background-color: rgba(0, 0, 0, 0);
}

#return-address-cn {
    position: absolute;
    left: 50px;
    top: 48px;
    width: 350px;
    background-color: rgba(255, 0, 0, 0);
}

#main-logo {
    position: absolute;
    right: 57px;
    top: 0px;
}

#return-logo {
    color: #d11241;
    margin: 15px;
}

#return-logo3 {
    float: left;
    height: 50px;
    margin-left: 83px;
    margin-top: 24px;
}

.auto-image {
    width: auto;
    height: auto;
    max-height: 100%;
}

#subheader:after {
    content: '';
    display: inline-block;
    width: 100%
}

.news-title {
    position: absolute;
    left: 50px;
    width: 689px;
    line-height: 33px;
}

.news-title1 {
    top: 270px;
}

.news-title2 {
    top: 30px;
}

.cn-sub-title {
    font-size: 18px;
    color: #D10E40;
}

.cn-news-body {
    position: absolute;
    left: 50px;
    width: 689px;
    font-size: 17px;
    line-height: 17pt;
}

.en-sub-title {
    font-size: 17px;
    color: #D10E40;
}

.en-news-body {
    position: absolute;
    left: 50px;
    width: 689px;
    font-size: 14px;
    line-height: 15pt;
}

.news-body1 {
    top: 352px;
}

.news-body2 {
    top: 112px;
}

.news-left {
    float: left;
    width: 47%;
}

.news-right {
    width: 47%;
    float: right;
}

.cn-return-slip {
    position: absolute;
    left: 50px;
    top: 740px;
    width: 689px;
    font-size: 12pt;
}

.en-return-slip {
    position: absolute;
    left: 50px;
    top: 740px;
    width: 689px;
    font-family: 'Literata', serif;
    font-size: 12pt;
}

.inline_p {
    margin: 10px auto;
}

.checkbox_div {
    width: 13px;
    height: 13px;
    border: 1.5px solid #5a4e51;
    float: left;
    border-radius: 2px;
    top: 3.5px;
    position: relative;
    margin-right: 6px;
}

.pic-caption {
    display: block;
    margin-top: 5px;
    font-size: 9.5pt;
}

.dblock {
    display: block;
}

.font-en-title {
    font-family: 'Merriweather Sans', sans-serif;
}

.font-en-body {
    font-family: 'Literata', serif;
}

.font-cn-title {
    font-family: 'Noto Sans SC', sans-serif;
}

.font-cn-body {
    font-family: 'Noto Serif SC', serif;
}

.font300 {
    font-weight: 300;
}

.font400 {
    font-weight: 400;
}

.font500 {
    font-weight: 500;
}

.font600 {
    font-weight: 600;
}

.font700 {
    font-weight: 700;
}

.font-italic {
    font-style: italic;
}

.return-box {
    border: 7px solid #D3D3D3;
    border-radius: 20px;
}

.div_border {
    border: 1px solid;
}

u {
    text-decoration-skip-ink: none;
    text-underline-offset: 2px;
}